<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Joana Welti" />
	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
	<link rel="stylesheet" href="css/layout_2col_left_13.css" type="text/css" />
	<!--[if lte IE 7]>
		<link href="css/patches/patch_2col_left_13.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<title>Atea</title>
</head>
<body>
<!-- ###DOCUMENT### start. Avoids having two body tags-->
<div class="page_margins">
	<div class="page">
		<div id="header">
			<div id="top_header_shadow">
			<div id="top_header">
					<div id="logo">
						<a href="./index.php">
							<img src="images/atea_logo.png" alt="Atea"/>
							<!-- ###TITEL### -->Atea<!-- ###TITEL### -->
						</a>
					</div>
			</div>
			</div>
			<div id="banner_shadow">
			<div id="banner">
				<div id="purple_part"></div>
				<div id="white_part">
					<div id="saying">
						<div id="saying_text">
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore				
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div id="main">
			<div id="col1">
				<div id="col1_content">
					<div id="navigation">
						<ul class="level0">
							<li><a href="#">Home</a></li>
								<ul class="level1">
									<li><a href="#">Beispiel</a></li>
									<li><a href="#">Beispiel</a></li>
								</ul>
							<li><a href="#">Therapie</a></li>
							<li><a href="#">Ernährung</a></li>
							<li><a href="#">Bewusstes Sein</a></li>
							<li><a href="#">Über mich</a></li>
							<li><a href="#">Kontakt</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="col3">
				<div id="col3_content">
					<div id="headline">
					</div>
					<div id="bodytext">
					</div>
				</div>
				<div id="footer">
					<div id="information">
					<ul>
						<li class="first">Ester Battaini</li>
						<li>Domenican Republic</li>
						<li>Domenican Republic</li>
					</ul>
					<!-- ####FOOTER### -->
					Footer
					<!-- ####FOOTER### -->
					</div>
				</div>	
			</div>
		</div>
		<div id="shadow_bottom">
			<div id="col1_bottom">
				<div class="bottom_left"></div>
			</div>					
			<div id="col3_bottom">
				<div class="bottom_middle"></div>
				<div class="bottom_right">
				</div>
			</div>
		</div>
		<div style="clear: both"></div>		
	</div>
</div>
<!-- ###DOCUMENT### end -->
</body>
</html>