<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<title>Internet Corporation</title>
</head>
<body>
<!-- ###DOKUMENT### -->
	<div id="content">
		<div id="logo">
			<h1><a href="./index.php"><!-- ###TITEL### -->.Internet Corporation.<!-- ###TITEL### --></a></h1>
		</div>
		<!-- ###MENU_OBEN### -->		
		Menu Oben
		<!-- ###MENU_OBEN### -->
		<div id="intro">
			<h1><!-- ###SEITENTITEL### -->.IT management and project outsourcing<!-- ###SEITENTITEL### --></h1>
			<p><!-- ###BESCHREIBUNG### -->.Right people. Right solutions.<!-- ###BESCHREIBUNG### --></p>
			<div id="login">
				<p><!-- ###MENU_TOP### -->Menu Top<!-- ###MENU_TOP### --></p>
			</div>
		</div>	
		<div id="left">
		<!-- ###INHALT_LINKS### -->
		Inhalt Links
		<!-- ###INHALT_LINKS### -->		
		</div>
	
		<div id="right">
		<!-- ###INHALT### -->
		Inhalt
		<!-- ###INHALT### -->

		</div>
				<div style="clear: both"></div>		
		<div id="footer">
			<div id="col1">
				<p><a href="#">Terms and Conditions</a> &middot; <a href="#">Privacy</a><br />
				<!-- ###COPYRIGHT### -->&copy; Copyright 2007<!-- ###COPYRIGHT### --> <a href="./index.php"><!-- ###TITEL### -->Internet Corporation<!-- ###TITEL### --></a></p>
			</div>
			<div id="col2">
				<p>Address: <strong>Flower street 27</strong><br />
				Phone: <strong>+xxx (x) xxx xxxx</strong></p>
			</div>
			<div id="col3">
				<p>Design: <a href="http://www.solucija.com">Luka Cvrk</a><br />
				Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a></p>
			</div>
		</div>	
	</div>
<!-- ###DOKUMENT### -->
</body>
</html>